body {
    background: rgba(0, 255, 255, 0.1);
}

body,
ul,
li,
p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: Arial;
    font-size: medium;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgba(2, 53, 53, 0.8);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    text-align: center;
}

p {
    text-align: justify;
}

header {
    background: rgba(2, 53, 53, 0.8);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

footer {
    min-height: 100px;
    width: 100%;
    background: rgba(2, 53, 53, 0.8);
    color: white;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
}

.content {
    height: 100vh;
 width: 100vw;
}

.home {
    min-height: 400px;
    display: flex;
    align-items: center;
    text-align: center;
}

.menu {
    display: flex;
}

.menu li a {
    display: block;
    padding: 10px;
}

img {
    max-width: 100%;
    display: block;
}

.container h2 {
    margin-top: 1%;
    margin-bottom: 1%;
}

.container p {
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
}

.grid-flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.grid-flex>div {
    flex: 1 1 200px;
    margin: 1%;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 780px;
    margin: 0 auto;
}

.grid-layout>div:nth-child(n + 4) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
}

.grid-layout>div.anuncio {
    grid-column: 1;
    grid-row: 2 / 5;
    display: block;
}


@media (max-width: 420px) {
    header {
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .grid-layout {
        grid-template-columns: 1fr 1fr;
        margin-left: 1%;
        margin-right: 1%;
    }

    .grid-layout>div:nth-child(n + 4) {
        display: block;
    }

    .grid-layout>div.anuncio {
        grid-column: auto;
        grid-row: auto;
        order: -1;
    }

}