<!doctype html>
<html lang="pt-br">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Python with Flask{% endblock %}</title>
    <link rel="icon" href="/static/img/logo.png">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>

<body>

    <header>
        <a href="/">
            <h1>treinando flask</h1>
        </a>
        <ul class="menu">
            <li><a href="gerador">gerador de senha</a></li>
        </ul>
    </header>

    {% block container %}
    {% endblock %}

    <div class="container">

        {% block flexbox %}
        {% endblock %}
        
        {% block gridlayout %}
        {% endblock %}

    </div>

    <footer>
        <a href="https://github.com/euforo">@euforo</a>
    </footer>

</body>

</html>